html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  color: white;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

/* Logo Section */

.logo .container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1rem;
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

/* Main Banner Section */

.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.site-heading {
  background-color: black;
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

.site-heading h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

.site-heading h4 {
  font-size: 1rem;
  font-weight: bold;
}

/* Navigation Bar */

.navigation {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
}

.navigation .mobile-nav {
  display: none;
}

/* Product Grid and Location/Hours*/

.product-grid, .location-hours {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0;
}

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8rem;
}

.product-description {
  background-color: black;
  padding: 0.5rem;
  display: block;
  text-align: center;
}

.info-block {
  width: 35%;
}

.title {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  display: block;
}

.details {
  color: black;
}

/* Footer */

footer {
  background-color: black;
  margin-top: 4rem;
  padding: 5rem 0px;
  text-align: left;
}

/* Responsive */

@media only screen and (max-width: 1024px) {
  .navigation .container {
    display: none;
  }

  .navigation .mobile-nav {
    display: block;
    text-align: center;
  }

  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }

}

@media only screen and (max-width: 470px) {

  .main-banner {
    height: 15rem;
  }

  .site-heading {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .site-heading h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.25rem;
  }

  .site-heading h4 {
    font-size: 0.77rem;
    font-weight: bold;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.watch {
    display:none;
  }

  .location-hours {
    flex-wrap: wrap;
  }

  .info-block {
    width: 90%;
    margin: 0.5rem auto;
  }

  footer {
    text-align: center;
  }
}
